[api_settings]
rpc_url = 'https://red-cool-violet.monad-testnet.quiknode.pro/e1bf450b66f3e8d16ea9db7c62ff43a20fa29814/'

[game_settings]
frontrunner_contract_address = '0x9EaBA701a49adE7525dFfE338f0C7E06Eca7Cf07'
abi_string = '[{"type":"function","name":"frontrun","inputs":[],"outputs":[],"stateMutability":"nonpayable"},{"type":"function","name":"getScore","inputs":[{"name":"_address","type":"address","internalType":"address"}],"outputs":[{"name":"","type":"tuple","internalType":"struct Frontrunner.ParticipantData","components":[{"name":"Address","type":"address","internalType":"address"},{"name":"Wins","type":"uint256","internalType":"uint256"},{"name":"Losses","type":"uint256","internalType":"uint256"}]}],"stateMutability":"view"},{"type":"function","name":"getScores","inputs":[],"outputs":[{"name":"","type":"tuple[]","internalType":"struct Frontrunner.ParticipantData[]","components":[{"name":"Address","type":"address","internalType":"address"},{"name":"Wins","type":"uint256","internalType":"uint256"},{"name":"Losses","type":"uint256","internalType":"uint256"}]}],"stateMutability":"view"}]'

[eoa]
private_key = '0x137d89a4b26414e3d1e97fb7bfad03e90bf9d960d541442a2ee095e1c94e15ec'
